body {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 900px;
  background-color: #37585E; 
  color: #ddddce;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-style: normal;
  font-variant: normal;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #ffffef;
}

h3 {
  color: #eeeede;
}

a {
  color: #99ccff;
  text-decoration: none;
}

a:hover {
  color: #55bc90;
  text-decoration: underline;
}

li {
  color: #99ccff;
}

img {
  max-width: 600px;
  max-height: 400px;
  display: block;
  margin: auto;
}

pre {
  display: block;
  background-color: #111;
  color: #bbbfaf;
  padding: 5px;
  overflow-x: auto;
}

a.textlink:before {
  content: " ⇒ ";
  padding-left: 11px;
}

p.quote {
  color: cyan;
}

p.footer {
  color: #ffa500;
}

p.quote:before {
  content: " « ";
  padding-left: 2px;
}

p.quote:after {
  content: " » ";
  padding-right: 2px;
}
