body {
  margin: auto;
  padding-left: 11px;
  padding-right: 11px;
  max-width: 900px;
  background-color: #8fbc8f; 
  color: #ddddce;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-style: normal;
  font-variant: normal;
}

h1 {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 11px;
  color: #ffffff;
  background-color: #000000;
  text-decoration: underline;
  margin-left: -23px;
  max-width: 878px;
}

h2 {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 11px;
  color: #ffffff;
  background-color: #000000;
  text-decoration: underline;
  margin-left: -11px;
  max-width: 889px;
}

h3 {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 11px;
  color: #ffffff;
  background-color: #000000;
  text-decoration: underline;
  margin-left: -5px;
  max-width: 895px;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
  padding: 5px;
  margin: 5px;
}

a:hover {
  color: #000000;
  text-decoration: underline;
  background-color: #ffffff;
}

ul {
  color: #ffffff;
  background-color: #000000;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 23px;
  padding-left: 79px;
}

img {
  max-width: 601;
  max-height: 401;
  display: block;
  margin: auto;
}

pre {
  display: block;
  overflow-x: auto;
  color: #ffffff;
  background-color: #000000;
  margin: 5px;
  padding: 23px;
  border: 29px double #8fbc8f;
}

a.textlink:before {
  content: " ⇒ ";
  padding-left: 11px;
}

p {
  color: #ffffff;
  background-color: #000000;
  padding: 23px;
}

p.quote {
  color: #ffffff;
  background-color: #000000;
}

p.footer {
  color: #ffffff;
  background-color: #000000;
}

p.quote:before {
  content: " « ";
  padding-left: 2px;
}

p.quote:after {
  content: " » ";
  padding-right: 2px;
}
